# Backend
/backend/node_modules
/backend/uploads
/backend/.DS_Store
/backend/dist

# local env files
/backend/.env.local
/backend/.env.*.local
/backend/.env

# Log files
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/pnpm-debug.log*

# Editor directories and files
/backend/.idea
/backend/.vscode
/backend/*.suo
/backend/*.ntvs*
/backend/*.njsproj
/backend/*.sln
/backend/*.sw?



# Frontend
/frontend/.DS_Store
/frontend/node_modules
/frontend/dist

# local env files
/frontend/.env.local
/frontend/.env.*.local
/frontend/.env

# Log files
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# Editor directories and files
/frontend/.idea
/frontend/.vscode
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?
